# SPDX-FileCopyrightText: ©  Basil Peace
# SPDX-License-Identifier: Apache-2.0
/build/
# IDEA
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/dbnavigator.xml
# Terraform
/.terraform/terraform.tfstate
/.terraform/plugins/*/*
!/.terraform/plugins/*/lock.json

setvars.cmd
